.logo {
  text-transform: uppercase;
  font-size: var(--size-5);
  font-weight: bold;
  color: var(--color-grey-50);
  margin: 0 0 0 10px;
}

.logoWrapper{
  display: flex;
  align-items: center
}

@media (min-width: 768px) {
  .logo {
    font-size: var(--size-8);
  }
}